body{
    background-color: rgb(167, 196, 196);
    margin-top: 0;
    margin-left: 0;
}



/* Navbar Section  */
#navbar {
    display: flex;
    border: 2px solid rgb(46, 35, 35);
    background-color: rgb(65, 128, 76);
}

#navbar ul {
    display: flex;
    margin-left: -20px;
}

#navbar ul li {
    list-style: none;
    margin: 0px 5px;
    border-radius: 5px;
    /* border: 2px solid blue;  */
}

#navbar ul li a {
    margin: 15px ;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Bree Serif', serif;
}

#navbar ul li:hover {
    color: white;
    background-color: black;
    
}


/* Food-Type Section*/

.type a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}


/* Food-images Section  */
#images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}

.img-size img{
    width: 600px;
    height: 600px;
}